:root {
    --primary-bg: #1a1a2e;
    --accent-color: #0ef;
    --text-white: #fff;
    --primary-color: #1292e2;
    --light_primary:rgba(18, 146, 226, 0.2);
      --dark-color: #104565;
      --secondary-color: #f6783a;
      --text-color:#ffff;
  }
 