
.logo-wrapper {
    position: relative;
    width: 600px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .college-logo-container{
    position: absolute;
    left: 50%;
    top: 50%;
transform: translate(-50%,-50%);
  }
  
  .college-logo:hover {
    transform: scale(1.1);
  }
  
  .dept-logos-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    
  }
  
  .dept-logos-circle img{
    width: 120px;
    height: 120px;
    transition: 0.4s;
  }
  .dept-logos-circle img:hover{
    transform: scale(1.02);
  }
  .dept-logo {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }
  
  .dept-logo:hover {
    transform: scale(1.2);
    z-index: 11;
  }